<ion-grid>
  <ion-row>
    <ion-card>
      <img alt="led" src="../../assets/arduino-components/led.png" />
      <ion-card-header>
        <ion-card-title class="ion-text-center">Led</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="led" src="../../assets/arduino-components/led.png" />
      <ion-card-header>
        <ion-card-title class="ion-text-center">Led</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="led" src="../../assets/arduino-components/led.png" />
      <ion-card-header>
        <ion-card-title class="ion-text-center">Led</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="led" src="../../assets/arduino-components/led.png" />
      <ion-card-header>
        <ion-card-title class="ion-text-center">Led</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="led" src="../../assets/arduino-components/led.png" />
      <ion-card-header>
        <ion-card-title class="ion-text-center">Led</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="led" src="../../assets/arduino-components/led.png" />
      <ion-card-header>
        <ion-card-title class="ion-text-center">Led</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-row>
</ion-grid>