ion-card{
  height: 130px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ion-card-title{
  font-size: 10px;
}

img{
  width: 70px;
  height: 70px;
}

ion-grid{
  display: flex;
  justify-content: center;
  align-items: center;
}