<ion-grid>
  <ion-row>
    <ion-card (click)="addComponentToWorkspace('LED')">
      <img alt="led" src="../../../assets/arduino-components/led.png" />
      <ion-card-header>
        <ion-card-title class="ion-text-center">Led</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card (click)="addComponentToWorkspace('Potenciômetro')">
      <img alt="potenciometro" src="../../../assets/arduino-components/potenciometro.png" />
      <ion-card-header>
        <ion-card-title class="ion-text-center">Potenciômetro</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card (click)="addComponentToWorkspace('Resistor')">
      <img alt="resistor" src="../../../assets/arduino-components/resistor.png" />
      <ion-card-header>
        <ion-card-title class="ion-text-center">Resistor</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-row>
</ion-grid>
