<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
    <ion-text slot="end" *ngIf="isExecuting">
     <h6>Tempo do simulador  {{formatTime(hours) }}:{{formatTime(minutes) }}:{{ formatTime(seconds) }}</h6>
    </ion-text>
    <ion-button slot="end" (click)="toggleExecution()">
      {{ isExecuting ? 'Parar' : 'Executar' }}
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <strong class="capitalize">{{folder}}</strong>
    <ng-template #dynamicContainer></ng-template>
  </div>
</ion-content>