ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  width: 100%;
  height: auto; 
  position: relative;
  border: 1px dashed #ccc;
  text-align: center;
}

.draggable-component {
  position: absolute;
  cursor: grab;
 
}

.draggable-component:hover {
  cursor: grabbing;
}

img {
  height: 250px;
  width: 250px;
  cursor: move;
  position: absolute;
}

.led-small {
  width: 40px;
  height: 40px; 
}

.servo-small{
  width: 150px;
  height: 150px;
}

.pot-small{
  width: 40px;
  height: 40px; 
}

.resistor-small{
  width: 40px;
  height: 40px; 
}

.button-small{
  width: 40px;
  height: 40px;
}

.breadboard-resize{
  height: 350px;
  width: 350px;
}

.selected {
  filter: drop-shadow(0 0 4px rgba(0, 0, 255, 0.6));
  pointer-events: bounding-box;
  z-index: 10;
}

.button-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 10px;
  top: 230px;
  left: 300px; 
  z-index: 50;
}

.button-container ion-button {
  margin-top: 5px;
}