<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
    <ion-text slot="end" class="ion-margin-end" *ngIf="isExecuting">
      <h6>Tempo do simulador  {{formatTime(hours) }}:{{formatTime(minutes) }}:{{ formatTime(seconds) }}</h6>
    </ion-text>
    <ion-button class="ion-margin-end" slot="end" (click)="toggleExecution()">
      {{ isExecuting ? 'Parar' : 'Executar' }}
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" (click)="deselectAllComponents()" (touchmove)="move($event)" (touchend)="drop($event)" style="position: relative; height: 100%; border: 1px dashed #ccc;">
    <ng-container *ngFor="let component of components">
      <img 
        [src]="getComponentImage(component.type)" 
        [style.left.px]="component.position.x" 
        [style.top.px]="component.position.y" 
        [ngClass]="{
          'led-small': component.type === 'LED',
          'servo-small': component.type === 'Servo',
          'pot-small': component.type === 'Potenciometro',
          'resistor-small': component.type === 'Resistor',
          'button-small': component.type === 'Botao',
          'breadboard-resize': component.type === 'Breadboard',
          'arduino-resize': component.type === 'Arduino',
          'selected': component.isSelected
        }"
        alt="{{ component.type }}" 
        class="draggable-component" 
        (touchstart)="startDrag($event, component)"
        (click)="selectedComponent(component); $event.stopPropagation()" />
    </ng-container>
  </div>
</ion-content>
